.File__list {
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px auto;
  gap: 15px;
}

.card-content {
  border: 1px solid #c7c4c4;
  border-radius: 6px;
  height: 300px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content__p {
  display: flex;
}
.card-content__section p,
.card-content__p p {
  font-size: 13px;
  margin-right: 4px;
}
.card-content__section {
  display: flex;
  align-items: center;
}

.card-content__section div {
  padding: 5px;
  width: 95px;
  border-radius: 4px;
  text-align: center;
  color: white;
  margin: 5px 11px 0 0;
  font-size: 12px;
}

.type-new {
  background: #429972;
}

.type-fix {
  background: #d9534f;
}

.type-improvement {
  background: #5bc0de;
}

.card-content__section img {
  width: 25px;
  height: 25px;
  border: none;
  padding: 2px;
}

.Paragraph {
  margin: 20px 0 38px 0;
  color: #a9a3a3;
}

.card-content__button {
  background: white;
  width: 130px;
  height: 43px;
  border: 2px solid #28acd6;
  border-radius: 24px;
  color: #28acd6;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.card-content__button:hover {
  background-color: #28acd6;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .File__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .File__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-content {
    height: auto;
    padding: 12px;
  }

  .card-content__section div {
    width: auto;
    height: auto;
    font-size: 14px;
    margin: 5px 0;
    padding: 4px;
  }

  .card-content__section img {
    width: 30px;
    height: 30px;
  }

  .card-content__section p {
    font-size: 14px;
  }

  .card-content__p p {
    font-size: 14px;
    margin-right: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .File__list {
    grid-template-columns: 1fr;
  }

  .card-content {
    height: auto;
    padding: 10px;
  }

  .card-content__button {
    width: 100px;
    height: 35px;
  }

  .card-content__section div {
    width: auto;
    height: auto;
    font-size: 14px;
    margin: 5px 0;
    padding: 4px;
  }

  .card-content__section img {
    width: 25px;
    height: 25px;
  }

  .card-content__section p {
    font-size: 14px;
  }

  .card-content__p p {
    font-size: 14px;
    margin-right: 4px;
  }
}
